* {
    font-family: "Jost", sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

html,
body,
div#game {
    overflow: hidden;
    background-color: #0060C0;
    width: 100vw;
    height: 100vh;
}

ul li {
    margin-left: 10px;
    list-style-type: none;
    color: #e0e0e0;
}

/* buttons and inputs */

button,
input {
    margin: 20px;
    padding: 15px 15px;
    font-size: 15px;
    border: none;
}

input {
    color: white;
    background-color: transparent;
    border: 2px solid #80808080;
    width: 300px;
}

input::placeholder {
    color: #808080;
}

input:focus {
    outline: none;
    border: 2px solid #ffffffC0;
}

input:focus::placeholder {
    color: #ffffffC0;
}

input#chatInput {
    color: white;
    width: 100%;
    margin: 0px;
    font-size: 14px;
    border: none;
    border-top: 2px solid #80808080;
    background-color: #00000000;
    min-height: fit-content;
}

button {
    cursor: pointer;
    font-weight: bold;
    background-color: #20202080;
    color: white;
}

button:hover {
    background-color: #ffffffC0;
    color: black;
}

button:disabled {
    cursor: default;
    background-color: #00000000;
    color: #C0C0C080;
}

/* svg */

svg {
    /* border: 1px solid #ff0000; */
    position: absolute;
    transform-origin: center;
}

polygon,
text,
rect {
    transform-origin: center;
    transform-box: fill-box;
}

.settlement,
.city,
.road {
    stroke-width: .5;
}

.road {
    width: 8px;
    height: 2px;
}

text {
    text-anchor: middle;
    dominant-baseline: central;
}

.interface {
    background-color: #20202080;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 #10101080;
    position: fixed;
    z-index: 1;
}

/* navigation */

.nav {
    display: flex;
}

.navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: #80808080;
    border: none;
    margin: 0px;
}

.navButton:disabled {
    cursor: default;
    background-color: #00000000;
    color: white;
}

/* action navigation */

.actionNav {
    display: flex;
    width: 100%;
}

.actionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border: none;
    margin: 0px;
    width: 100%;
}

.actionButton:disabled {
    cursor: default;
    background-color: #00000000;
    color: #80808080;
}

div#sideContent {
    width: 100%;
    height: 100%;
    overflow: auto;
}

div#sidebar {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    top: 0;
    width: 300px;
}

div#navbar {
    position: fixed;
    top: 0;
    padding: 20px;
    z-index: 1;
}

div#notifications {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

div#lobby,
div#menu {
    width: 500px;
    height: 500px;
}

div#content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

div#lobby {
    display: flex;
    width: 750px;
}

div#menu {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.smallButton,
.checkButton {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0px;
    background-color: #00000000;
    font-weight: bold;
}

.checkButton {
    background-color: #80808080;
}

.smallButton:disabled,
.checkButton:disabled {
    background-color: #00000000;
    color: #80808080
}

.developmentButton {
    width: 300px;
    margin: 0px;
    background-color: #00000000;
    border-bottom: 2px solid #80808080;
}

.countdown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

button.colorButton {
    width: 42px;
    height: 42px;
    margin: 2px;
}

div.colorButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #80808080;
    margin: 20px;
}

div.colorButtonContainer:hover {
    border: 2px solid #ffffffC0;
}

div#colors {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}