* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 10px;
    list-style-type: none;
    color: #e0e0e0;
}

html,
body,
div#game {
    overflow: hidden;
    background-color: #0040c0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    position: absolute;
    /*border: 1px solid red;*/
}

polygon,
rect {
    /*stroke: black;
    stroke-width: .5;*/
    transform-origin: center;
    transform-box: fill-box;
}

text {
    text-anchor: middle;
    dominant-baseline: middle;
}

.interface {
    background-color: #20202080;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 #10101080;
    position: fixed;
    z-index: 1;
    padding: 10px 20px;
}

div#topBar,
div#bottomBar {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#topBar {
    top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div#bottomBar {
    bottom: 0;
    width: 100%;
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/
}

div#leftBar,
div#rightBar {
    text-align: left;
    height: 60%;
    top: 20%;
    width: 200px;
}

div#leftBar {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 0;
}

div#rightBar {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
}

div#lobby {
    padding: 30px 30px;
    width: 750px;
    max-width: 90%;
    height: 500px;
    border-radius: 20px;

}
div#menu {
    padding: 30px 30px;
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

div#notification {
    padding: 30px 30px;
    position: absolute;
    top: 30px;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

button,
input {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 8px 4px;
}

input {
    color: black;
}

button {
    cursor: pointer;
    background-color: #60606080;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #808080C0;
}

button:active {
    background-color: #C0C0C0C0;
}

button:disabled {
    cursor: not-allowed;
    background-color: #404040C0;
    color: #808080
}